// Typography
$font-family-sans-serif: "Montserrat", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$border-radius: 12px;

// Colors
$lightest-grey: #fafafa;
$light-grey: #bdbdbd;
$dark-grey: #7F7F7F;
$blue: #157efb;
$purple: #714cbb;
$purple-dark: #5a3c98;
$orange: #ffb142;
