// Typography
$font-family-sans-serif: "Montserrat", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$border-radius: 12px;

// Colors
$light-grey: #bdbdbd;
$dark-grey: #7F7F7F;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #714cbb;
$purple-dark: #5a3c98;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
