// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background: linear-gradient($purple, $purple-dark);
  min-height: 100vh;
}

.title {
  color: $white;
  height: calc(120px + 8px);
  padding: 40px;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 128px;
  .card {
    width: 100%;
    max-width: 750px;
    padding: 20px;
    position: relative;
    border: none;
    border-radius: $border-radius $border-radius 0 0;

    h2 {
      font-size: 17px;
      color: $dark-grey;
      margin-bottom: 20px;
    }
    .avatar {
      display: flex;
      align-items: center;
      font-size: 28px;
      color: $black;
      .first-name {
        margin-bottom: 0;
      }
      img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        border-radius: $border-radius;
      }
    }
    .list {
      max-height: 200px;
      overflow: auto;
      position: relative;

      .content, .price {
        width: 100%;
        display: flex;
      }
      .price {
        justify-content: space-between;
        color: $blue;
        width: 30%;
        i {
          color: $light-grey;
        }
      }
      .item {
        display: flex;
        align-items: center;
        padding: 5px 0;
        color: $dark-grey;
        transition: .2s all;
        position: relative;
        &:not(.paid) {
          cursor: pointer;
          &:hover {
            background-color: $lightest-grey;
          }
        }
        i {
          font-style: normal;
        }
        &.paid {
          color: $light-grey;
          pointer-events: none;
          .price {
            color: $light-grey;
          }
        }
        &.selected {
          background-color: $lighter-grey;
          pointer-events: none;
          &:hover {
            background-color: $lighter-grey;
          }
        }
        img {
          margin-right: 8px;
        }
        p {
          margin: 0;
        }
      }
    }
    .transaction-amount {
      display: flex;
      font-size: 80px;
      color: $blue;
      font-weight: 300;
      label {
        margin: 0 20px 0 0;
      }
      input {
        border: none;
        width: 100%;
        outline: none;
        color: $blue;
        font-weight: 300;
      }
    }
    .renew {
      opacity: .5;
      cursor: pointer;
      transition: .2s all;
      &:hover {
        opacity: .7;
      }
    }
    img {
      border-radius: $border-radius;
    }
  }
  .bottom-part {
    width: 100%;
    max-width: 750px;
    min-height: 100px;
    background-color: $lightest-grey;
    border-radius: 0 0 $border-radius $border-radius;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      border: none;
      background-color: $light-grey;
      border-radius: $border-radius;
      padding: 20px;
      color: $white;
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 15px;
      outline: 0;
      transition: .2s all;
      &.enough {
        background-color: $orange;
      }
    }
    p {
      margin-bottom: 0;
      color: $light-grey;
      font-weight: 300;
      a {
        text-transform: uppercase;
      }
    }
  }
}

.custom-flex {
  flex-direction: row !important;
  justify-content: center;

  @include media-breakpoint-down(sm) {
    flex-direction: column !important;
  }

  button {
    margin: 10px;
  }
  .orange {
    background-color: $orange !important;
  }
}

.camera-stream {
  width: 100%;
}
