// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background: linear-gradient($purple, $purple-dark);
  min-height: 100vh;
}

.title {
  color: $white;
  height: calc(120px + 8px);
  padding: 40px;
  text-align: center;
}

.card {
  width: 100%;
  max-width: 650px;
  border-radius: $border-radius;
  padding: 20px;

  h2 {
    font-size: 17px;
    color: $dark-grey;
    margin-bottom: 20px;
  }
  .avatar {
    display: flex;
    align-items: center;
    font-size: 28px;
    color: $black;
    .first-name {
      margin-bottom: 0;
    }
    img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
      border-radius: $border-radius;
    }
  }
  .list {
    .content, .price {
      width: 100%;
      display: flex;
    }
    .price {
      justify-content: space-between;
      color: $blue;
      width: 50%;
      i {
        color: $light-grey;
      }
    }
    .item {
      display: flex;
      align-items: center;
      padding: 5px 0;
      color: $dark-grey;
      i {
        font-style: normal;
      }
      &.paid {
        color: $light-grey;
        .price {
          color: $light-grey;
        }
      }
      img {
        margin-right: 8px;
      }
      p {
        margin: 0;
      }
    }
  }
  .transaction-amount {
    display: flex;
    font-size: 80px;
    color: $blue;
    font-weight: 300;
    label {
      margin: 0 20px 0 0;
    }
    input {
      border: none;
      width: 100%;
      outline: none;
      color: $blue;
      font-weight: 300;
    }
  }
  img {
    border-radius: $border-radius;
  }
}

